<h2>Sign up/Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <div class="field">
        <label>Foto:</label><br>
        <%= f.file_field :picture %>
      </div>
      
      <div class="field">
        <label>Nombre:</label><br>
        <%= f.text_field :name, class:"form-control"%>
      </div>

      <div class="field">
        <label>Apellido:</label><br>
        <%= f.text_field :last_name, class:"form-control" %>
      </div>

      <div class="field">
        <label>Cédula:</label><br>
        <%= f.text_field :num_identification, class:"form-control" %>
      </div>

      <div class="field">
        <label>Lugar de nacimiento:</label><br>
        <%= f.text_field :place_of_birth, class:"form-control" %>
      </div>

      <div class="field">
        <label>Edad:</label><br>
        <%= f.text_field :age, class:"form-control" %>
      </div>

      <div class="field">
        <label>Dirección:</label><br>
        <%= f.text_field :address, class:"form-control" %>
      </div>

      <div class="field">
        <label>Cargo que ocupa:</label><br>
        <%= f.text_field :appointment, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Registrar", class:"btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>

