<%= form_for [@scale, @answer] do |f| %>
  <% @answer.errors.full_messages.each do |message| %>
    <div>
      <%=message%>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= f.label "Campo para crear respuestas" %>
        <%= f.text_field :description, class: 'form-control', placeholder: 'Crear item aqui...' %>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <%= f.label "Campo para asignar valor" %>
        <%= f.text_field :value, class: 'form-control', placeholder: 'Asignar valor aqui...' %>
      </div>
    </div>
    <div>
      <%= f.hidden_field :scale_id %>
    </div>
    <div>
      <%= f.submit "Guardar", class:"btn btn-success" %>
    </div>
<% end %>
